/* GENERAL */
body {
  background: #F1F1F1;
  overflow: hidden; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100vw;
  z-index: 100; }
  .header .logoHeader {
    width: 5%;
    height: 5%;
    margin: 20px; }
  .header .logoHeader:hover {
    cursor: pointer; }
  .header .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right; }
    .header .links a {
      text-decoration: none;
      color: #000000; }
      .header .links a p {
        font-family: "CooperHewittBook";
        font-size: 40px;
        margin: 0 20px; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center; }
  .footer p {
    font-family: "CooperHewittLight";
    font-size: 15px; }

/* HOMEPAGE */
.container .informations {
  margin-left: 15vw;
  margin-top: 15vh;
  font-size: 30px; }
  .container .informations .name {
    font-family: "CooperHewittBold";
    margin: 5px; }
  .container .informations .school {
    font-family: "CooperHewittMedium";
    margin: 5px; }
.container .skills {
  font-family: "CooperHewittLight";
  font-size: 25px;
  margin-left: 20vw;
  margin-top: 2vh; }
  .container .skills p {
    margin: 5px; }
.container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px; }
  .container .links .text p {
    font-family: "CooperHewittMedium";
    font-size: 20px; }
  .container .links .icons {
    margin: 10px; }
    .container .links .icons a {
      margin: 10px; }

/* ABOUT PAGE */
.content.aboutPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2vw;
  font-family: "CooperHewittMedium";
  font-size: 25px;
  line-height: 1.2; }
  .content.aboutPage .headline {
    margin: 20px; }
  .content.aboutPage .description {
    margin: 20px 10vw;
    font-family: "CooperHewittLight";
    font-size: 20px; }
    .content.aboutPage .description p {
      margin-top: 20px;
      margin-bottom: 20px; }
  .content.aboutPage .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .content.aboutPage .links .text p {
      font-family: "CooperHewittMedium";
      font-size: 20px; }
    .content.aboutPage .links .icons a img {
      margin: 10px 20px; }

/* WORK PAGE */
.content.workPage {
  overflow: hidden; }
  .content.workPage .workSections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .content.workPage .workSections .sectionDev {
      width: 50vw;
      height: 100vh;
      background-image: url("../pictures/dev-picture.jpg");
      background-size: auto;
      background-repeat: no-repeat;
      background-position: 30% 50%;
      opacity: 0.5; }
    .content.workPage .workSections .sectionDesign {
      width: 50vw;
      height: 100vh;
      background-image: url("../pictures/design-picture.jpg");
      background-size: auto;
      background-repeat: no-repeat;
      background-position: 71% 30%;
      opacity: 0.5; }

/* WORK > DEV */
.worksContainer {
  width: 100%;
  vertical-align: middle;
  color: #F1F1F1;
  z-index: 1; }
  .worksContainer section {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: table; }
    .worksContainer section div {
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
    .worksContainer section div.player {
      width: 100vw;
      height: 100vh;
      background-image: url("../pictures/mockup-player.png");
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: 50% 40%;
      position: relative; }
      .worksContainer section div.player .title {
        width: 300px;
        font-family: "CooperHewittBold";
        font-size: 35px;
        position: absolute;
        top: 25vh;
        left: 2vw;
        opacity: 0.5;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
        will-change: opacity; }
        .worksContainer section div.player .title a {
          text-decoration: none;
          color: #F1F1F1; }
      .worksContainer section div.player .title:hover {
        opacity: 1; }
      .worksContainer section div.player .description {
        width: 300px;
        font-family: "CooperHewittBook";
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 30vh;
        left: 2vw; }
    .worksContainer section div.spacex {
      width: 100vw;
      height: 100vh;
      background-image: url("../pictures/mockup-spacex.png");
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: 0% 60%;
      position: relative; }
      .worksContainer section div.spacex .title {
        width: 300px;
        font-family: "CooperHewittBold";
        font-size: 35px;
        position: absolute;
        top: 25vh;
        left: 2vw;
        opacity: 0.5;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
        will-change: opacity; }
        .worksContainer section div.spacex .title a {
          text-decoration: none;
          color: #F1F1F1; }
      .worksContainer section div.spacex .title:hover {
        opacity: 1; }
      .worksContainer section div.spacex .description {
        width: 300px;
        font-family: "CooperHewittBook";
        font-size: 20px;
        text-align: center;
        position: absolute;
        top: 30vh;
        left: 2vw; }
