$semibolditalic: 'CooperHewittSemiboldItalic';

body {
  background: #F1F1F1;
}

.homeHeader {
  display: inline-block;
  margin: auto;
  width: 100vw;
  .logoHeader {
    float: left;
    width: 5%;
    height: 5%;
    margin: 10px;
  }
  .links {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: right;
    margin-top: 35px;
    p {
      font-family: $semibolditalic;
      font-size: 25px;
      margin: 0 20px;
    }
  }
}