/* GENERAL */
body {
  background: #F1F1F1;
  overflow: hidden; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 100vw; }
  .header .logoHeader {
    width: 5%;
    height: 5%;
    margin: 20px; }
  .header .logoHeader:hover {
    cursor: pointer; }
  .header .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right; }
    .header .links a {
      text-decoration: none;
      color: #000000; }
      .header .links a p {
        font-family: "CooperHewittSemiboldItalic";
        font-size: 40px;
        margin: 0 20px; }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center; }
  .footer p {
    font-family: "CooperHewittLight";
    font-size: 15px; }

/* HOMEPAGE */
.container .informations {
  margin-left: 15vw;
  margin-top: 15vh;
  font-size: 30px; }
  .container .informations .name {
    font-family: "CooperHewittBold";
    margin: 5px; }
  .container .informations .school {
    font-family: "CooperHewittMedium";
    margin: 5px; }
.container .skills {
  font-family: "CooperHewittLight";
  font-size: 25px;
  margin-left: 20vw;
  margin-top: 2vh; }
  .container .skills p {
    margin: 5px; }
