$semibolditalic: 'CooperHewittSemiboldItalic';
$bold: 'CooperHewittBold';
$medium : 'CooperHewittMedium';
$light : 'CooperHewittLight';
 
body {
  background: #F1F1F1;
}
 
.homeHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  .logoHeader {
    width: 5%;
    height: 5%;
    margin: 20px;
  }
  .links {
    display: flex;
    flex-direction: row;
    align-items: right;
    p {
      font-family: $semibolditalic;
      font-size: 40px;
      margin: 0 20px;
    }
  }
}

.container {
  .informations {
    margin-left: 15vw;
    margin-top: 15vh;
    font-size: 30px;
    .name {
      font-family: $bold;
      margin: 5px;
    }
    .school {
      font-family: $medium;
      margin: 5px;
    }
  }
  .skills {
    font-family: $light;
    font-size: 25px;
    margin-left: 20vw;
    margin-top: 2vh;
    p {
      margin: 5px;
    }
  }
}