$semibolditalic: 'CooperHewittSemiboldItalic';
$book: 'CooperHewittBook';
$bold: 'CooperHewittBold';
$medium : 'CooperHewittMedium';
$light : 'CooperHewittLight';

/* GENERAL */
body {
  background: #F1F1F1;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100vw;
  .logoHeader {
    width: 5%;
    height: 5%;
    margin: 20px;
  }
  .logoHeader:hover {
    cursor: pointer;
  }
  .links {
    display: flex;
    flex-direction: row;
    align-items: right;
    a {
      text-decoration: none;
      color: #000000;
      p {
        font-family: $book;
        font-size: 40px;
        margin: 0 20px;
      }
    }
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  p {
    font-family: $light;
    font-size: 15px;
  }
}

/* HOMEPAGE */

.container {
  .informations {
    margin-left: 15vw;
    margin-top: 15vh;
    font-size: 30px;
    .name {
      font-family: $bold;
      margin: 5px;
    }
    .school {
      font-family: $medium;
      margin: 5px;
    }
  }
  .skills {
    font-family: $light;
    font-size: 25px;
    margin-left: 20vw;
    margin-top: 2vh;
    p {
      margin: 5px;
    }
  }
}

/* ABOUT PAGE */

.content.aboutPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2vw;
  font-family: $medium;
  font-size: 25px;
  line-height: 1.2;
  .headline {
    margin: 20px;
  }
  .description {
    margin: 20px 10vw;
    font-family: $light;
    font-size: 20px;
    p {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text {
      p {
        font-family: $medium;
        font-size: 20px;
      }
    }
    .icons {
      a {
        img {
          margin: 10px 20px;
        }
      }
    }
  }
}

/* WORK PAGE */

.content.workPage {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .sectionDev {
    width: 50vw;
    height: 100vh;
    background-image: url('../pictures/dev-picture.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 30% 50%;
  }
  .sectionDesign {
    width: 50vw;
    height: 100vh;
    background-image: url('../pictures/design-picture.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 71% 30%;
  }
}